@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


:root {
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666;
  --primary-blue: #0078f9;
  --primary-hover-blue: #0078f999;
  --primary-dark: rgb(52, 58, 64);
  --primary-green: #139b15;
  --primary-hover-green: #139b1599;
  --primary-transparent-green: rgb(19, 155, 21, 0.7);
  --primary-black: #000;
  --primary-transparent-black: rgba(0,0,0,0.7)

}

body {
  font-family: "PT Sans" !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***NAVBAR************************************************************/
.logo{
  height: 4rem;
  z-index: 2;
}

/***MENU LINKS************************************************************/
nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  font-size: small;
}

nav ul li {
  text-transform: uppercase;
}


.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;

  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark)
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem;
}

@media (max-width:768px){
  .navbar-brand {
    width: 7rem !important;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-blue)
}

.navbar-nav > li > a:hover{
  color: var(--primary-blue) !important
}

.navbar-toggler{
  color: var(--primary-white) !important;
  border-color: var(--primary-white)!important;
}

/* Header */

.header-wraper{
  position: relative;
  height: 100vh;
}
.header-wraper:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  opacity: 0.6;
  background-image: url('/Users/abbysmith/Development/code/portfolio/my-app/src/images/wall-and-laptop-background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "PT Sans";
  z-index: 1;
}

.main-info h1{
  color: var(--primary-black);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
}


.main-info h2{
  color: var(--primary-black);
  font-size: 2.5rem;
  
}

/* TYPED TEXT */
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  font-weight: bold;
}

@media(max-width: 768px){
  .main-info h1{
    padding: 1.5rem;
    font-size: 1.7rem !important;
  }
  .typed-text{
    padding: 1.5rem;
    font-size: 1.7rem !important;
  }
}
/* HEADER MAIN OFFER BUTTON */
.btn-main-offer{
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  background: var(--primary-transparent-green) ;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: var(--primary-white);
  transition: .2s ease-in-out;
  margin: 2rem;

}

/* ABOUT ME */

.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

}
.profile-img{
  width: 16rem;
  border-radius: 5%;
  padding: .3rem;
  border: 1px solid var(--primary-blue);
}

.about-header{
  color: var(--primary-blue);
  text-transform: uppercase;
}

@media(max-width: 468){
  .profile-img{
    width: 10rem;
  }
}

/* Services */

.services {
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
  justify-content: center;
}

.services h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.services .box {
  flex: 1 1 auto;
  border-bottom: 0.3125rem solid var(--primary-blue);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background-color: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background-color: var(--primary-blue);
  border-bottom: 0.3125rem solid var(--primary-dark)
}

.services .box:hover p {
  color: var(--primary-white)
}

/* Media - Phone */
@media(max-width:767px){
  .services .box{
    width: 100%;
  }
  .services .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

/* Experience */
.experience{
  padding: 0.7rem;
  background: var(--primary-grey)
}
.experience-wrapper {
  position: relative;
  padding: 0.7rem 0.125rem;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-green);
  padding-top: 3rem;
}

.resume-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.resume-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  border-radius: 2%;
  background: var(--primary-blue);
  /* transition: none !important; */
  padding: 0.125rem 1rem;
  width: auto;
  color: var(--primary-white)
}

.resume-btn:hover{
  background: var(--primary-hover-blue);
}

.experience-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-blue);
  /* z-index: 1; */
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right
}

.timeline-block-left{
  float: left;
  direction: rtl;
}

.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-blue);
  background: var(--primary-blue);
  margin-top: 0.625rem;
  /* z-index: 3; */
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-green);
  font-weight: 100;
}

/* Media - Phone */
@media(max-width:768px){
  .experience .container{
    padding-left: 0;
  }
  .experience-wrapper::before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }

}

/* Projects */
.project-wrapper{
  background: var(--primary-light-grey);
  padding: 3rem 0;
}

.project-image{
  height: 10rem;
  width: 17rem;
  border: 1px solid var(--primary-blue);
  padding: 0 0.5rem;

}

.project-image-box{
  position: relative;
  margin: 1rem;
}

.image-box-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* Overflow box */
.overflow{
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 17rem;
  height: 10rem;
  border: 1px solid var(--primary-green);
  cursor: pointer;
  top: 0;

}

.project-image-box:hover .overflow{
  opacity: 60%;
  transition: 0.3s ease-in-out;
  
}
.project-info{
  position: absolute;
  opacity: 0;
  /* margin-left: -8rem;
  margin-top: 3.6rem; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  background-color: var(--primary-light-grey);
  border-radius: 50%;
}

.project-image-box:hover .project-info {
  opacity: 70%;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.project-demo-video {
  width: 100%;
  height: auto;
  border: none;
  overflow: hidden;
}

.popupbox {
  position: left;
  /* z-index: 99999; */
  background-color: var(--primary-light-grey);
}

.hyperlink {
  cursor: pointer;
  color: var(--primary-blue)
}

.hyperlink:hover {
  cursor: pointer;
  color: var(--primary-green)
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto;
}

.project-popupbox {
  position: relative;
  /* top: auto;
  left: auto;
  right: auto;
  bottom: auto; */
  border: none;
  border-radius: 4px;
  padding: 20px;
  background: var(--primary-white);
  -webkit-animation: fadeIn 0.3s ease;
  animation: fadeIn 0.3s ease;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 0px;
  right: 5px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--primary-dark-grey);
  cursor: pointer;
}

.popupbox{
  max-width: 800px;
  margin: 0 auto;
}

/* Recommendations */
.testimonials{
  background-image: url(/Users/abbysmith/Development/code/portfolio/my-app/src/images/Connections.jpg);
  background-size: cover;
  background-color: var(--primary-black);
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0;
  width: 100%;
}

/* .testimonials{
  position: relative;
  height: 100vh;
}
.testimonials:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height:100%;
  opacity: 0.2;
  background-image: url(/Users/abbysmith/Development/code/portfolio/my-app/src/images/Connections.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
} */

.testimonials h1 {
  color: var(--primary-white);
  padding-top: 3rem;
  text-transform: uppercase;
  background: var(--primary-transparent-black);
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  /* height: 17.85rem; */
  height: auto;
}

.myCarousel h3{
  color: var(--primary-green);
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

.myCarousel p {
  color: var(--primary-light-grey)
}
.carousel .slide img{
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

.control-dots{
  margin-top: 0.5rem;
}

/* Contact Me */
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-white);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p{
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}


/* Inputs for Contact form */
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: var(--primary-grey);
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 2%;
  color: var(--primary-dark-grey);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  /* margin-bottom: 1.5rem; */
  margin-top: 1rem !important;
  padding-left: 0.5rem !important
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: var(--primary-white);
  color: var(--primary-blue);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea{
  height: 14rem !important;
  /* margin: 2rem 0; */

}

.btn-contact{
  margin: 1rem 0 0 0;
  width: 100%;
  border-radius: 2%;
  background: var(--primary-blue);
  /* transition: none !important; */
}

.btn-contact:hover{
  background: var(--primary-hover-blue)
}

.line{
  position: relative;
  width: 0;
  height: 0.125rem;
  background: var(--primary-blue);
  display: inline-block;
  /* margin-top: -0.8rem */
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out ;
}

input.form-control {
  margin: -0.2rem 0;
}

textarea.form-control {
  margin: -0.2rem 0;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}
/* Media */
@media(max-width: 768px){
  .contacts{
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }
  .contacts p{
    padding: 0 1rem;
  }
}

/* Footer */

.footer{
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding-top: 3rem;
  padding-bottom: 1rem
}

.footer a{
  text-decoration: none;
  color: var(--primary-dark-grey);

}

.footer a:hover{
  text-decoration: none;
  color: var(--primary-blue);
  cursor: pointer;
}

.footer p{
  margin-bottom: 0;
}